* {
  box-sizing: border-box;
}

section, section * {
  text-align: center;
  font-color:
}

#main {
  /*margin: 0 auto;*/
  margin-top: 40vh;
  color: #2392C8;
}


html {
  /*background-image: url(assets/bowie3_terryoneill.jpg);*/
  /*background-image: url(assets/dharry1.jpeg);*/
}

.todaysTemp {
  font-size: 90px;
}

.landingBlur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}


#slideshow, div.bgM {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-9999;
}

#dh1 {
  background-image: url(assets/dharry1.jpeg);
  background-size: contain;
  background-repeat: none;
}

#dh2 {
  background-image: url(assets/dharry2.jpg);
  background-size: contain;
}

#db1{
  background-image: url(assets/bowie3_terryoneill.jpg);
  background-size: contain;
  background-repeat: none;
}

#db2{
  background-image: url(assets/bowie1.jpg);
  background-size: contain;
  background-repeat: none;
}

#gj1{
  background-image: url(assets/gjones1.jpg);
  background-size: contain;
  background-repeat: none;
}

#gj2{
  background-image: url(assets/gjones2.jpg);
  background-size: contain;
  background-repeat: none;
}

#temp {
 background: rgba(0, 0, 0, 0.5);
}

.formWidth {
  width: 100px;
}

.bgFade {
   background: rgba(0, 0, 0, 0.4);
}

.inputPadding {
  padding-top: 1%;
}
