* {
  box-sizing: border-box;
}

#pane {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000;
  width: 100vw;
}


.init {
  height: 80vh;
}

.r, .r > * {
  display: flex;
  flex-direction: row;
}

.c, .c > * {
  display: flex;
  flex-direction: column;
}

.center, .center > * {
  justify-content: center;
  align-items: center;
}


form input, form a {
  color: white;
  background-color: inherit;
  border: none;
}

.bar {
  width: 15vw;
  min-width: 2.8vw !important;
  border-bottom: 1px white solid;
  margin: .2em;
}

input {
  height: 1.5em;
  width: 15vw;
}

form {
  position: relative;
}

#new {
  display: none;
  position: absolute;
  top: 8vh;
  left: 0vw; 
  background-color: #000;
  color: #fff;
  padding: 1vh .56vw;
}

#submit {
  margin: .2em auto;
}
